<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h3 class="panel-title">Cursos</h3>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="course in courses" ng-click="openCourse(course.NAMECOURSE,course.IDCOURSE, course.DESCRIPTIONCOURSE)">{{course.NAMECOURSE}}</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h3 class="panel-title"  id="p1" tabindex="1">Pruebas pendientes</h3>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <div class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>Título</th>
                  <th title="La fecha y hora de finalización mostradas estan transformadas de la hora del servidor a la hora de su navegador (PC)">Fecha y hora de finalización </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="test in tests track by $index" ng-if="test.status=='e'" ng-click="openTest(test.id)" id="r{{$index+2}}" tabindex="{{$index+2}}" data-idTest='{{test.id}}'>
                  <td>{{test.title}}</td>
                  <td>{{test.finishDateTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Pruebas finalizadas</h3>
        </div>

        <div class="panel-body">

          <div class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Nota</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="test in tests track by $index" ng-if="test.status=='f'">
                  <td>{{test.title}}</td>
                  <td>{{test.averageScore}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->
</div>
