<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="comment">Pregunta:</label>
          <textarea class="form-control" rows="3" id="comment" ng-model="question.text"></textarea>
        </div>
      </div>
    </div>
    <div ng-repeat="option in question.options track by $index">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label for="comment">Opcion {{$index+1}}:</label>
            <textarea class="form-control" rows="2" id="comment" ng-model="option.text"></textarea>
          </div>
        </div>
        <div class="col-md-2">
          <br>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="option.correct" ng-false-value="false">Respuesta correcta</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 ">
            <div class="form-group">
              <label for="comment">Justificación opción {{$index+1}}:</label>
              <textarea class="form-control" rows="3" id="comment" ng-model="option.justification"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <a class="btn btn-primary" ng-click="addOption()">Agregar opción</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-primary">Guardar</a>
          <a class="btn btn-primary">Regresar</a>
        </div>
      </div>
    </div>
  </div>
