<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Curso:</label>
          <input type="text" ng-model="search.course.name">
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>

                <th>Curso</th>
                <th>Título</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="test in tests | filter:search  track by $index"  ng-click="cloneTest(test.id)">
                <td>{{test.course.name}}</td>
                <td>{{test.title}}</td>
                <td>{{test.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
