<div class="section">
  <h3>Puntaje obtenido {{testSend.score}} sobre 1</h3>
</div>
<div class="section">
  <div ng-repeat="question in questions track by $index" >
    <div class="section"  >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 id="p{{question.index}}" tabindex="{{question.index}}">Pregunta {{$index+1}}: {{question.text}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <div ng-repeat="option in question.options track by $index" >
                <li id="r{{option.index}}" tabindex="{{option.index}}"  class="list-group-item"  >{{option.text}}</li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>




  </div>

</div>
<div class="section"  >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default" id="p{{finishReviewIndex}}" tabindex="{{finishReviewIndex}}" ng-click="back()">Regresar</button>
      </div>
    </div>
  </div>
</div>
