<div class="section">
  <div ng-repeat="question in test.questions" >
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 id="p{{question.index}}" tabindex="{{question.index}}">Pregunta {{$index+1}}: {{question.text}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li id="r{{option.index}}" ng-repeat="option in question.options" class="list-group-item" tabindex="{{option.index}}">Opcion {{$index+1}}: {{option.text}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="section"  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-default" id="p{{lastIndex+1}}" tabindex="{{lastIndex+1}}">Enviar</button>
        </div>
      </div>

    </div>
  </div>
</div>
